doctype html 
html 
    head 
        title Student Details
        
    style 
        include ../public/css/style.css

    body
        h1 Student Details

        table
            tr 
                th SNo.  
             
                th First Name 
             
                th Last Name 
             
                th Student Id 
             
                th Branch Name 
            
                th Email 
             
                th Phone 
             
                th Gender 
             
                th Age

            -let n = 0;
            if studentList.length
                for student in studentList
                    tr 
                        td #{++n}  
                    
                        td #{student.firstname}
                    
                        td #{student.lastname}
                    
                        td #{student.studentid}
                    
                        td #{student.branch} 
                
                        td #{student.email}
                    
                        td #{student.phone} 
                    
                        td #{student.gender} 
                
                        td #{student.age} 
            else 
                tr 
                    td  No records available

            
                    